<h2>Reset your password?</h2><br/>
<%= flash[:notice] %>
<%= form_with url: "/password/reset_password", method: :post do |f|%>


 <%# <div class="field">
   <%= f.label :new_password %>
   <%# <%= f.password_field :password %>
 <%# </div><br/> %> 

  <div class="input-box">
<div class="field">
<%# <%= f.label :password  %><br/>
<%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
    </svg> %>
<%= f.password_field :password, placeholder: 'Enter your New Password', :maxlength=>"50"%>
</div>
</div>

   <div class="input-box">
<div class="field">
<%= f.password_field :password, placeholder: 'Confirm new Password', :maxlength=>"50"%>
</div>
</div>

 <div class="button input-box">
    <%= f.submit "Reset password" %><br />
 </div><br/>

<%end %>